Django==4.1.5
django-enumfields==2.1.1
djangorestframework==3.14.0
psycopg2==2.9.3
# gunicorn
# PyYAML==5.4.1
uritemplate==4.1.1
djangorestframework-gis==1.0
django-environ==0.10.0
django-allauth==0.54.0
drf-spectacular==0.26.3

